{% import_yaml "sanoid/defaults.yaml" as defaults %}
{% import_yaml "sanoid/locks.yaml" as locks %}

{% do defaults.update({'locks': locks}) %}

{% set sanoid = salt.pillar.get('sanoid') %}

{% do sanoid.update(salt.slsutil.merge(defaults, sanoid.get('lookup', {}))) %}
