{% import_yaml "sanoid/defaults/global.yaml" as globals %}
{% import_yaml "sanoid/defaults/sections.yaml" as sections %}
{% import_yaml "sanoid/defaults/locks.yaml" as locks %}

{% set sanoid = salt.pillar.get('sanoid') %}

{% set defaults = salt.slsutil.merge({
    'global': globals,
    'sections': sections,
    'locks': locks
}, sanoid.lookup) %}

{% do sanoid.update(salt.slsutil.merge(defaults.global, sanoid)) %}
{% do sanoid.update({
  'locks': salt.slsutil.merge(defaults.locks, sanoid.get('lock', {})),
  'sections': salt.slsutil.merge(defaults.sections, sanoid.get('sections', {}))
})%}
